<div class="hand <%= @game.players[@game.hands.last.id] %>">
  <div class="row">
    <div class="large-2 columns text-center">
      <div class="avatar" style="background: #fff url(/assets/<%=  @game.players[@game.hands.last.id].downcase.tr(" " , "-") %>.jpg) no-repeat top center; background-size: auto 100%;"></div>
      <span class="player-name"><%= @game.players[@game.hands.last.id] %></span>
    </div>
    <div class="large-10 columns">
      <ul class="large-block-grid-5 cards">
        <% @game.hands.last.cards.each do |card| %>
            <li><img src="/assets/cards/<%= card.to_s.downcase.tr(" ","-") %>.png"></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>