<h1>Game</h1>
<h2>The winner is <%= @game.players[@scorer.winning_hand.id] %> with a <%= @scorer.winning_hand.rank.to_s.capitalize.tr("_"," ") %> </h2>
<div>
   <% @game.hands.each do |hand| %>
      <div><%= @game.players[hand.id] %></div>
      <ul>
        <% hand.cards.each do |card| %>
            <li><%= card %></li>
        <% end %>
      </ul>
      <hr>
  <% end %>
</div>